h1 {
  color: red;
  /*comentario en css*/
  font-family: Arial;
  /*esto es para cambiar la tipografia*/
  background-color: yellow;
  /*para agregar fondo*/
  text-align: center;

}

h2 {
  color: green;
  font: size 30px;
}

p {
  color: blue;
  font: size 20px;
}

.destacados {
  font-size: 30px;
  font-weight: bold;
  /*convierte el texto en negrita*/
  font-style: italic;
  /*convierte el texto en letra italic*/

}

#rojo {
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;
  /*mantiene el nivel de las cajas para que no caigan y quede prolijo*/
margin-left: 100px;
}

#azul {
  background-color: aquamarine;
  width: 300px;
  height: 300px;
}